.navbarLogo {
    width: 250px;
}


.homeImagebackground {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.homeImagebackground { display: flex; justify-content: center; align-items: center; flex-direction: row; }
.homeImagebackground h1 { text-shadow: 2px 2px 7px #000000; } 
.homeImagebackground h1 span { display: block; } 

.homeContainer {
    padding-left: 0;
    padding-right: 0;
}

.homeTitle {
    color:#fff;
}

.footerContainer{
    height: 70px;
}

.footerBrand{
    font-size: 1.3rem;
    text-transform: uppercase;
}

.btnRegistro{
    width: 200px;
    font-size: 1.1rem;
}

.btnLogin{
    width: 200px;
    font-size: 1.1rem;
}