.navbarLogo {
    width: 300px;
}


.homeImagebackground {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.homeContainer {
    padding-left: 0;
    padding-right: 0;
}

.homeTitle {
    color:#fff;
}
